@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Play", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #0e1524;
  color: #fff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
